div{
    width: 250px;
    height: 250px;
    background: black;
    position: relative;
    animation: ani 5s infinite alternate;
    /*动画效果：名字；持续时间；持续次数*/
}
@keyframes ani {
    0%{background: black; left: 0; top: 0;}
    25%{background: white; left: 250px; top: 0;}
    50%{background: black; left: 250px; top: 250px;}
    75%{background: white; left: 0; top: 250px;}
    0%{background: black; left: 0; top: 0;}
}
